In [1]:
#import the dependencies

import pandas as pd
import gmaps
import requests

#import the api key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sant Feliu De Guixols,ES,2022-07-13 23:01:45,41.7833,3.0333,75.92,49,0,0
1,1,Cape Town,ZA,2022-07-13 23:01:25,-33.9258,18.4232,57.88,93,100,100
2,2,Bethel,US,2022-07-13 22:59:12,41.3712,-73.4140,85.86,57,53,53
3,3,Ixtapa,MX,2022-07-13 23:00:15,20.7000,-105.2000,85.23,78,96,96
4,4,Teya,RU,2022-07-13 23:01:46,60.3778,92.6267,50.13,76,97,97

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed      int64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]
# 2. Assign the weights variable to some values.
max_temp = city_data_df['Max Temp']
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#use list comprehension to calculate max temps to 0. If they are negative the map won't work
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                    dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
location = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
location = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sant Feliu De Guixols,ES,2022-07-13 23:01:45,41.7833,3.0333,75.92,49,0,0
2,2,Bethel,US,2022-07-13 22:59:12,41.3712,-73.4140,85.86,57,53,53
3,3,Ixtapa,MX,2022-07-13 23:00:15,20.7000,-105.2000,85.23,78,96,96
5,5,Hithadhoo,MV,2022-07-13 23:01:47,-0.6000,73.0833,83.03,73,92,92
6,6,Lompoc,US,2022-07-13 23:01:12,34.6391,-120.4579,88.02,71,3,3
11,11,Atuona,PF,2022-07-13 23:01:49,-9.8000,-139.0333,77.68,77,22,22
13,13,Tsuruga,JP,2022-07-13 23:01:50,35.6455,136.0558,76.64,87,100,100
15,15,Sweetwater,US,2022-07-13 23:01:51,25.7634,-80.3731,87.03,72,61,61
17,17,Vaini,TO,2022-07-13 23:01:13,-21.2000,-175.2000,77.04,86,1,1
20,20,Tambopata,PE,2022-07-13 23:01:54,-12.7333,-69.1833,76.05,73,62,62

In [11]:
preferred_cities_df.count()

City_ID       205
City          205
Country       205
Date          205
Lat           205
Lng           205
Max Temp      205
Humidity      205
Cloudiness    205
Wind Speed    205
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
0   Sant Feliu De Guixols      ES     75.92  41.7833    3.0333
2                  Bethel      US     85.86  41.3712  -73.4140
3                  Ixtapa      MX     85.23  20.7000 -105.2000
5               Hithadhoo      MV     83.03  -0.6000   73.0833
6                  Lompoc      US     88.02  34.6391 -120.4579
11                 Atuona      PF     77.68  -9.8000 -139.0333
13                Tsuruga      JP     76.64  35.6455  136.0558
15             Sweetwater      US     87.03  25.7634  -80.3731
17                  Vaini      TO     77.04 -21.2000 -175.2000
20              Tambopata      PE     76.05 -12.7333  -69.1833

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Sant Feliu De Guixols,ES,75.92,41.7833,3.0333,Hotel NM Suites
2,Bethel,US,85.86,41.3712,-73.4140,Courtyard by Marriott Danbury
3,Ixtapa,MX,85.23,20.7000,-105.2000,hotel la terminal
5,Hithadhoo,MV,83.03,-0.6000,73.0833,Scoop Guest House
6,Lompoc,US,88.02,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
11,Atuona,PF,77.68,-9.8000,-139.0333,Villa Enata
13,Tsuruga,JP,76.64,35.6455,136.0558,New Sunpia Tsuruga
15,Sweetwater,US,87.03,25.7634,-80.3731,Courtyard by Marriott Miami at Dolphin Mall
17,Vaini,TO,77.04,-21.2000,-175.2000,Keleti Beach Resort
20,Tambopata,PE,76.05,-12.7333,-69.1833,Enashawa Lodge

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]